body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(39, 17, 9), rgb(87, 55, 44));
    background-size: cover;
    background-position: center;
}

.big-text {
    position: absolute;
    top: 80; 
    left: 50%;
    transform: translate(-50%);
    font-size: 80px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.liste {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%);
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium';
    color: #ffffff;
    text-align: center;
}

.logo {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}