body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(39, 17, 9), rgb(87, 55, 44));
    background-size: cover;
    background-position: center;
}

.header {
    height: 80px;
    margin: 10px;
    opacity: 1;
}

nav ul li {
    list-style-type: none;
    padding: 10px;
}

ul li a {
    color: #ffffff;
    letter-spacing: 0rem;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    text-decoration: none;
}

ul li a:hover {
    color: #ecb384;
}

.menu li {
    float: right;
    padding: 35px;
}

.menu li:nth-child(3) a {
    text-decoration: underline;
}

form {
    padding: 35px;
    text-align: right;
}

.big-text {
    position: absolute;
    top: 32%; 
    left: 30%;
    transform: translate(-60%);
    font-size: 150px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.description {
    position: absolute;
    top: 50%; 
    left: 30%;
    transform: translate(-60%);
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium';
    color: #ffffff;
    text-align: bottom;
}

.logo {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.btn {
    background-color:rgb(39, 17, 9);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    border: 10px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    line-height: 1;
    left: 20%;
    bottom: 35%;
    transform: translateX(-50%);
    width: 60px;
    height: 20px;
}

.btn:hover {
    background-color: #47240e;
}

.cafe-image {
    width: 500px;
    display: block; 
    margin: 0 auto; 
    transform: translateX(110%);
    position: absolute;
    left: 10%;
    bottom: 30%;
}
